*{
    margin: 0;
    padding:0
}
nav{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 100px;
   
}
nav button{
    width: 116px;
    height: 52px;
    border-radius: 10px;
     color: green;
    font-weight:bolder;
}
nav h1{
    font-size: 40px;
}
header{
    background-color: #C6E4D6;
    height: 560px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.leftsection{

    width: 48%;

}
.rightsection{

    width: 48%;
    height: 400px;
}
header div button{
    width: 270px;
    height: 56px;
    background-color:#006A50;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: 0;
    margin-top: 20px;
}


.parent_div{
 
     max-width: 1280px;
    margin: 30px auto; 
    font-size: 20px;
    display: flex;
   gap: 20px;

}
.child_div{
    border: 2px solid gray;
    height: 244px;
  
     padding: 15px;
     border-radius: 20px;
     
}
.child_div img{
    width: 62px;
    height: 62px;
    margin: 10px 0px;
}
.child_div h2{
    margin: 10px 0
}
.inputfield{
    width: 1132px;
    height: 64px;

    margin: 0 auto;
    display: block;
    font-size: 20px;
 
    text-align: center;
}