*{
    padding: 0;
    margin: 0;
}
h1{
    color: white !important;
}

.heading{
    color: red
}
#head{
    color: blue;
}

p{
    border: 1px solid red;
}
span{
    border: 1px solid red;
    /* display: block; */
}
.middle{
    /* height: 500px; */

}

#myDiv{

    background-color: red;
    /* border: 5px solid green; */
    height: 700px;
    width: 700px;
    border-radius: 50%;



}


.background{
    height: 300px;
    width: 700px;
    border: 1px solid red;
    background-image: url("../assets/satelite.png");
    background-repeat: no-repeat;
    background-size: cover;
}








/* !important >>>>>inline css > id selector > class selector > tag selector */